<%- include('includes/head') %>

<body>
    <%- include('includes/navbar') %>

    <hr>

    <h1>DETALHE DE PRODUTO</h1>

    <h2><%= product.name %></h2>
    <h2><%= product.price %></h2>
    <h2><%= product.brand %></h2>
    <h3><%= product.category%></h3>

    <hr>
    
    <a href="/products">VOLTAR</a>
    
</body>
</html>